# ignore everything else
*
# except the following
# don't ignore this actual file
!.gitignore
# do not ignore any items in source dir
!src
!src/*
# don't ignore stuff in the docs dir
!docs/*

# don't ignore VSCode Config
!.vscode
!.vscode/*
# do ignore useless settings file
.vscode/settings.json
#don't ignore the files that change the device config
!RTE/Device/MSP432P4111/system_msp432p4111.c
!RTE/Device/MSP432P4111/startup_msp432p4111_uvision.s


